.header { 
position: absolute;
width: 365px;
height: 93px;
left: 124px;
top: 91px;

font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 55px;
line-height: 101.38%;
/* or 56px */


color: #000000;
}

.content { 
    position: absolute;
width: 662px;
height: 374px;
left: 124px;
top: 202px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 150%;
/* or 36px */


color: #000000;
}

.image1 { 
    position: absolute;
width: 314px;
height: 315px;
left: 976px;
top: 110px;

background: url(_1.png);
}
.text { 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.image2 { 
    position: absolute;
width: 232px;
height: 203px;
left: 124px;
top: 670px;

background: url(photo.png);
}

.h-text { 
    position: absolute;
    width: 150px;
    height: 39px;
    left: 488px;
    top: 740px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    
    
    color: #000000;
}

.s-text { 
position: absolute;
width: 150px;
height: 39px;
left: 488px;
top: 780px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 130%;
/* or 23px */


color: #000000;
}

.body { 
    width: 50%;
    height: 50%;
}

.image3 {
    position: absolute;
width: 366px;
height: 59px;
left: 1078px;
top: 640px;

background: #EFEFEF;
}